<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registro</title>
</head>
<body>
    <img class="bg-img" src="./fondo_form.avif" alt="">
    <h2>Registrese</h2>
        <form class="div-form" action="#" method="post">
        <div class="div-cont-1">
            <label for="fullname">Nombre completo</label>
            <input type="text" name="fullname" placeholder="Nombre completo" id="fullName"/>

            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" placeholder="Nombre de usuario" id="userName"/>

            <label for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Ingrese contraseña" id="password"/>

            <label for="reppassword">Repetir contraseña</label>
            <input type="password" name="reppassword" placeholder="Repetir contraseña" id="password"/>

            <label for="telefono">Telefono</label>
            <input type="tel" name="telefono" placeholder="Ingrese telefono" id="telefono"/>
            
            <label for="email">Ingrese email</label>
            <input type="email" name="email" placeholder="Ingrese email" id="email"/>

            <label for="pais">Seleccione su pais</label>
            <select name="pais" id="pais">
                <option value="" disabled selected>Seleccione pais</option>
                <option value="arg">Argentina</option>
                <option value="br">Brasil</option>
                <option value="ch">Chile</option>
                <option value="uy">Uruguay</option>
                <option value="co">Colombia</option>
                <option value="ec">Ecuador</option>    
            </select>
            <label for="Fecha de nacimiento">Fecha de nacimiento</label>
            <input type="date" name="fechanacimento" id="fechaNacimiento"/>

        </div>

        <div class="div-cont-2"><label style="font-size: 20px;" for="gender">Seleccione su genero</label>
            <div class="genders">
                <div class="genders-child"><label for="varon"><input type="radio" name="varon" id="varon" value="g1"><br>Varon</label></div>
                <div class="genders-child"><label for="mujer"><input type="radio" name="mujer" id="mujer" value="g2"><br>Mujer</label></div>
                <div class="genders-child"><label for="no binario"><input type="radio" name="no-binario" id="no-binario" value="g3"><br>No binario</label></div>
            </div>
        </div>    

        <div class="div-cont-3">
            <label for="condiciones">Acepto &nbsp<a href="">terminos y condiciones</a>
            <input type="checkbox" name="condiciones" id="condiciones"/></label>
            <button type="submit">Registrarme</button>
        </div>

        </form>
</body>
</html>